* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

h4 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937
}

h5 {
    font-size: 18px;
    color: #a9abad
}

#concerto {
    border: none;
    max-width: 50%;
    height: 100%;
    object-fit: contain;
}

img {
    border: solid #3882f6 5px;
    border-radius: 15px;
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
}

.ribbon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 200px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 10px;
}

.header-content {
    display: flex;
    padding: 100px 200px;
}

button {
    flex-shrink: 0;
    color:#e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
}

.featured {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.pics {
    display: flex;
    justify-content: space-around;
    padding: 0 50px 50px;
}

.snare,
.rogue-two,
.marimba,
.fsu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote-source {
    text-align: right;
}

.call {
    background-color: #3882f6;
    margin: 100px 200px;
    padding: 0 50px 25px;
    border-radius: 15px;
    display: flex;
    flex: 1;

}

footer {
    background-color: #1f2937;
    text-align: center;
}